@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(24px);}
    to { opacity: 1; transform: none;}
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181a1b; /* slightly lighter than #0a0a0a for better contrast */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
